a{
	text-decoration:none;
	color:#80959A;
	margin:1px;
}

body{
/*    background:#000 url('../images/klem1black.png') no-repeat 0px 6px;*/
	background:#2B2622;
    margin:0px;
	font-family:Helvetica, sans-serif;
}

h1{
/*	color: #009FCD;*/
	color:#80959A;
	/*font-size: 4.3em;*/
	font-size: 3.3em;
	text-shadow: black 0px -1px 0px;
	text-transform: uppercase;
	margin: 0px;
}

h2{
/*    color:#6E4E30;*/
    color:#80959A;
/*    font-family:Futura, Helvetica, sans-serif;*/
    font-size:22px;
/*    text-shadow: black 0px -1px 0px;*/
}

h4{
	margin:5px;
}

p{
    font-size:27px;
    line-height:32px;
    color:#aaa;
    text-shadow:#525354 0px -1px 0px;
}
ol, ul{
	list-style-type:none;
	padding:0px;
}

ul.aboutNav li{
	display:inline;
}

button,
input.submit {
  font-family: Arial,Helvetica,sans-serif;
  background: #832F03;
/*	background:#FF5A40;*/
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  width: 130px;
  height: 25px;
  padding: 5px 10px;
  line-height: 18px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  }
a.button:hover,
input.submit:hover {
  background-color: #BF4330;
  color: #fff;
  }
.active{
	background:#000;
}

#fancybox-overlay{
	height:13000px;
}

#gear{
	overflow:hidden;
}

#gearGrid img{
	width:100px;
	height:100px;
}

#main{
/*    background:url('../images/background4-01-01.jpg') no-repeat;*/
    min-height:2000px;
}
#allQuotes div{
	width:700px;
}

#allQuotes p{
	font-size:16px;
	text-shadow:none;
	line-height:22px;
	color:#000;
}

.bqstart {
     float: left;
     font-size: 500%;
     color:rgba(150,150,150,0.5);
 }


 .bqend {
     float: right;
     font-size: 500%;
     color: #FF0000;
	 height: 25px;
	 margin-top: 0px;
     padding-top: 45px;
	 color:rgba(150,150,150,0.5);
 }

.cBlock{
	min-height:250px;
	border-top:1px solid #969696;
	margin-bottom: 40px;
/*	border-top:10px solid #009FCD;*/
}

.examples{
    min-height:100px;
}

.discList{
	min-height:100px;
}

.gearOverlay{
	min-height:230px;
/*	background:#000;*/
	width:940px;
	margin-right:40px;
}


.image{
	margin:10px 0px;
}

.masteringText{
	font-size:18px;
	width:900px;
	line-height:27px;
}

.masteringOverlay{
	min-height:400px;
/*	background:#000;*/
	width:1000px;
	margin-right:40px;
}

.nav {
	position:fixed;
	top:0px;
	height:37px;
/*	background:rgba(255, 255, 255, 0.30);*/
	z-index:900;
/*	background:#000;*/
	background-color: #2B2622;
	padding-left:35px;
}

.nav li{
	display:inline;
	float:left;
}

.nav li a{
	display:block;
	font-size:35px;
    line-height:1px;
    color:#ccc;
	text-transform:uppercase;
}
.nav li a:hover{

}

.navArrow{
	font-size:130%;
	width:30px;
	font-weight:normal;
	height:auto;
	position:relative;
	left:700px;
}

.prepOverlay{
	min-height:1000px;
/*	background:#000;*/
	width:1000px;
	margin-right:40px;
}

.quoteAttr{
/*	font-family:Helvetica, Arial, sans-serif;*/
}

.quoteText{
	font-size:15px;
/*	font-family: Times, serif;*/
	line-height:18px;
	width:280px;
	position:relative;
	left:600px;
	color:#ddd;
	background:rgba(50, 50, 50, 0.8);
	border-left:4px solid #969696;
	padding:5px;
	float:left;
}
.quoteText.inline{
/*	float:right;
*/	position:relative;
	left:-120px;
}

.stdText{
	font-size:12px;
	color:#000;
	text-shadow: none;
}

